body{
    background: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(70, 203, 243);
    
}

h2 {
    color: rgb(70, 203, 243);
    opacity: 0.7;
}


button {
    background: rgb(142, 203, 233);
    border: none;
    color: rgb(20, 20, 20);
}

header {
    background-color: rgb(20, 20, 20);
    height: 330px;
    padding: 20px;
    text-align: center;
}

section {
    background: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: row;
}

footer {
    background: rgb(20, 20, 20);
    padding: 10px 20px;
}

div {
    background: rgb(20, 20, 20);
    margin: auto;
    width: 100px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin-right: 20px;
}

ul {
    margin: 0;
    padding: 10 px;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 20px;
    background-color: rgb(20, 20, 20);
    border-radius: 3px;
    padding: 2px;

    margin-right: 20px;
}

li:first-child {
    margin-left: 20px;
}

li:hover{
    background-color:rgb(82, 82, 82)
}

a {
    text-decoration: none;
}

a.hover {
    text-decoration: underline;
}

header .logo a {
    background-image: url("./images/logo.png");
    background-size: 300px;
    background-repeat:no-repeat;
    display: inline-block;
    height: 160px;
    position: relative;
    text-indent: -999999999px;
    top: -30px;
    width: 300px;
}

header .banner a {
    background-image: url("./images/banner.png");
    background-size: 1500px;
    background-repeat:no-repeat;
    display: inline-block;
    height: 900px;
    position: center;
    text-indent: -999999999px;
    top: -30px;
    width: 2000px;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #dd2095;
    color: white;
  }

  .fa-google {
    background: #000000;
    color: white;
  }
